@include b(actors-list){
	margin: 0;

	@include e(actor){
		list-style: none;
	}

	@include e(title){
		@extend .font-style__misc;
		display: block;
	}

	@include e(name){
		display: block;
		@include m(small){
			@extend .font-style__misc;
			margin-top: rem-calc(15);
		}
		@include m(big){
			@extend .font-style__main-title;
			@extend .font-style__main-title--medium-large;
			color: $black;
		}
	}

	@include e(actor){
		margin-bottom: rem-calc(30);
	}	

	@include m(basic){
		@include grid-layout(3, '.actors-list__actor', $grid-column-gutter);
		margin: rem-calc(15) rem-calc(-15) 0;

		@include breakpoint(small only) { 
			@include grid-layout(1, '.actors-list__actor', $grid-column-gutter);
			margin: rem-calc(15) rem-calc(-8) 0;
		}	

	}

	@include m(vision){
		@include grid-row();
		max-width: rem-calc(1060);

		@include e(actor){
			margin-bottom: rem-calc(60);
		}

		@include e(info){
			@include breakpoint(medium) { 
				padding: 0 rem-calc(15);
			}
			
		}	

		@include e(read-more){
			color: $black;
			text-decoration: underline;
			transition: color .45s ease-out;
			&:hover {
				color: $titleBlue;
			}
		}
	}

	@include m(vision-primary){
		margin-top: rem-calc(75);
		@include breakpoint(medium) {
			margin-bottom: rem-calc(115);
		}
		@include e(actor){
			position: relative;
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
			
			&:nth-child(even) {
				.actors-list__image-wrapper {
					@include breakpoint(medium) { 
						float: right;
					}
				}
				.actors-list__info {
					@include breakpoint(medium) { 
						padding-left: rem-calc(15);
						padding-right: rem-calc(60);
						/*text-align: right;*/
					}
				}
			}

			&:first-child(){
				.actors-list__image-wrapper {
					&:before {
					    right: -9px;
					    top: 15%;
					}
					&:after {
						background-image: url(../images/visionpatternbg.png);
						background-size: contain;
						background-repeat: no-repeat;
						z-index: 0;
						right: -21px;
						top: 8%;
					}
				}
			}
			&:nth-child(2){
				.actors-list__image-wrapper {
					&:before {
					    left: -9px;
					    top: 40%;
					}
					&:after {
						background-image: url(../images/block2A.png);
						background-size: contain;
						background-repeat: no-repeat;
						z-index: 0;
						left: -21px;
						top: 8%;
					}
				}
			}
			&:nth-child(3){
				.actors-list__image-wrapper {
					&:before {
						
					    right: -9px;
					    top: 15%;
					}
					&:after {
						background-image: url(../images/blockA.png);
						background-size: cover;
						background-repeat: no-repeat;
						background-position: right center;
						z-index: 0;
						right: -21px;
						top: 8%;
					}
				}
			}
			&:nth-child(4){
				.actors-list__image-wrapper {
					&:before {
					    left: -9px;
					    top: 40%;
					}
					&:after {
						background-image: url(../images/visionpatternbg.png);
						background-size: contain;
						background-repeat: no-repeat;
						z-index: 0;
						left: -21px;
						top: 8%;
					}
				}
			}
			&:nth-child(5){
				.actors-list__image-wrapper {
					&:before {
					    right: -9px;
					    top: 40%;
					}
					&:after {
						background-image: url(../images/block2A.png);
						background-size: contain;
						background-repeat: no-repeat;
						z-index: 0;
						right: -21px;
						top: 8%;
					}
				}
			}
		}

		@include e(image-wrapper){
			@include grid-column(6);
			position: relative;
			z-index: 0;
			&:before {
				background-image: url(../images/circleA.png);
				background-size: contain;
				background-repeat: no-repeat;
			    height: 50px;
			    width: 50px;
			    z-index: 9;
			}
			&:after {
				height: 400px;
			    width: 100px;
			}
			&:before,
			&:after {
				position: absolute;
				content:'';
				display: block;
				@include breakpoint(small only) {
					display: none; 
				}
			}
			img {
				position: relative;
				z-index: 1;
			}
			@include breakpoint(small only) { 
				@include grid-column(12);
			}
		}

		@include e(info){
			@include grid-column(6);
			position: relative;
			z-index: 9;
			@include breakpoint(medium) {
				padding-left: rem-calc(60);
			}
			@include breakpoint(small only) { 
				@include grid-column(12);
			}
		}
		@include e(bio){
			@extend .font-style__misc;
		}
		@include e(name){
			padding-bottom: rem-calc(30);
			@include m(big){
				color: $titleBlue;
			}
		}
		@include e(title){
			padding-top: rem-calc(50);
		}
	}

	@include m(vision-secondary){
		@include grid-layout(3, '.actors-list__actor', $grid-column-gutter);
		margin: rem-calc(15) rem-calc(-15) 50;

		@include breakpoint(small only) { 
			@include grid-layout(1, '.actors-list__actor', $grid-column-gutter);
		}

		@include e(image-wrapper){
			margin-bottom: rem-calc(50);
		}
		@include e(name){
			padding: rem-calc(15) 0;
		}
		@include e(bio){
			@extend .font-style__misc;
		}
	}
}