@include b(button){

	@include m(tickets){
		@extend .font-style__misc;
		@extend .font-style__misc--bold;
		color: $white;
		background-color: $pastelLightBlue;
		&:hover {
			background-color: $darkBlue;
		}
	}

	@include m(dark){
		@extend .font-style__misc;
		@extend .font-style__misc--bold;
		color: $white;
		background-color: $titleBlue;
		&:hover {
			background-color: $darkBlue;
		}
	}

	@include m(load-more){
		vertical-align: middle;
		position: relative;
		.fa {
			font-size: rem-calc(39);
			margin-left: rem-calc(15);
			vertical-align: middle;
			display: none;
		}
		img {
			display: none;
			position: absolute;
			left: 0;
			bottom: rem-calc(-20);
		}
	}
}