.comment-list {
  list-style: none;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  // @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  // @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .button;
  // @extend .btn-primary;
}

#all-comments {
	margin-left: 0;
}

@include b(comments) {
	@include grid-row();
	max-width: 660px;
	padding: rem-calc(50) rem-calc(15);
	
	@include e(list-item){
		list-style: none;
		margin-top: rem-calc(45);
		&:first-child {
			margin-top: 0;
		}
	}

	@include e(count-share){
		padding-top: rem-calc(100);
		margin-top: rem-calc(50);
		border-top: 1px solid $bodyP;
	}

	@include e(exact-count){
		@extend .font-style__misc;
		@extend .font-style__misc--bold;
		color: $black;
		margin-bottom: rem-calc(75);
		text-transform: uppercase;
		float: left;
	}
	.share-buttons {
		float: right;
		h2 {
			@extend .font-style__misc;
			display: inline-block;
			text-transform: uppercase;
		}
		.ssba {
			display: inline-block;
			.ssba_pinterest_share {
				@extend .fa;
				@extend .fa-pinterest;
			}
			.ssba_facebook_share {
				@extend .fa;
				@extend .fa-facebook;
			}
			.ssba_twitter_share {
				@extend .fa;
				@extend .fa-twitter;
			}
			a {
				color: $black;
				margin-left: rem-calc(15);
				img {
					display: none !important;
				}
			}
		}
	}

	@include e(list-item-details){
		.comment-meta {
			position: relative;
		}

		cite {
			@extend .font-style__misc;
			@extend .font-style__misc--bold;
			font-style: normal;
			display: inline-block;
			&:before {
				display:none;
			}
		}
		.comment-date,
		.reply {
			@extend .font-style__misc;
			display: inline-block;
			a {
				@extend .font-style__misc;
			}
		}

		.comment-content {
			p {
				color: $black;
				font-size: rem-calc(18);
			}
		}
	}
	ul.children {
		margin-left: rem-calc(30);
		margin-top: rem-calc(40);
		li {
			position: relative;
			&:before {
				background: url(../images/subcomment.png) no-repeat top left;
				height: 21px;
				width: 21px;
				display: block;
				content: '';
				position: absolute;
				left: -30px;
				top: 7px;
			}
			cite {
				color: $bodyP;
			}
			.comment-content {
				p {
					color: $bodyP;
					font-size: rem-calc(18);
				}
			}
		}
	}

	.form-submit {
		input[type="submit"]{
			color: $black;
			border-bottom: 1px solid $black;
			background: none;
			transition: color .45s ease-out, border-bottom .45s ease-out;
			padding: 0;
		    margin-top: rem-calc(30);
		    font-size: rem-calc(20);
			&:hover {
				color: $titleBlue;
				border-bottom: 1px solid $titleBlue;
			}
		}
	}

	.comment-reply-title {
		@extend .font-style__main-title;
		@extend .font-style__main-title--medium-large;
		color: $black;
	}

	#commentform {
		.comment-form-comment,
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			label {
				background: $white;
				margin-left: rem-calc(21);
				z-index: 9;
				position: relative;
				display: inline-block;
				top: rem-calc(15);
				line-height: 1;
				padding: rem-calc(4) rem-calc(15);
			}
		}
	}

	#respond {
		padding-top: rem-calc(75);
	}
}