// Search form
.search-form {

}
.search-form label {
  font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
  @extend .button;
}


/*footer newsletter*/
#gform_wrapper_1 {
	margin-bottom: rem-calc(75);
	ul.gform_fields {
		li.gfield {
			
		}
	}
	.top_label {
		.gfield_label {
			display: none;
		}
		input {
			@extend .font-style__misc;
			color: $white;
			padding: rem-calc(10);
			box-shadow: none;
			width: 100%;
			background: none;
		}
	}
}
#gform_1 {
	position: relative;

	.gform_footer.top_label {
		margin: 0;
		padding: 0;
		position: absolute;
		right: 15px;
		width: 50px;
		top: -2px;
	}

	#gform_submit_button_1 {
		background: url(../images/submit-arrow-form.png) no-repeat center;
		font-size: 0;
		color: transparent;
		height: 42px;
		margin: 0;
	}
}


/*contact us*/
#gform_wrapper_2 {
	.gform_heading {
		.gform_description {
			font-size: rem-calc(16);
			max-width: 325px;
			margin-right: 0;
		}
	}
	.gform_body {
		max-width: 600px;
		input {
			max-width: 100%;
			width: 100%;
			border-width: 2px;
			font-size: rem-calc(14);
			padding: rem-calc(15) rem-calc(10);
			height: auto;
		}
		textarea {
			border-width: 2px;
			font-size: rem-calc(14);
			padding: rem-calc(15) rem-calc(10);
		}
		ul.gform_fields {
			li.gfield {
				label {
					background: $white;
					color: $bodyP;
					position: relative;
					padding: rem-calc(5) rem-calc(10);
					font-size: rem-calc(13);
					margin-left: rem-calc(30);
					z-index: 9;
				}
				.gfield_required {
					display: none;
				}
				.ginput_container {
					margin-top: rem-calc(-15);
					position: relative;
					z-index: 0;
				}
			}
		}
	}
	.gform_footer {
		input[type=submit]{
			color: $black;
			border-bottom: 2px solid;
			padding: 0;
			background: none;
		}
	}	
}