@include b(front-block){
	@include grid-row();

	@include breakpoint(small only) {
		margin-top: rem-calc(50);
	}
	&:first-child {
		@include breakpoint(small only) {
			margin-top: 0;
		}
	}

	@include e(content){
		@extend .columns;
		@extend .medium-6;
	}

	@include e(mobile-img){
		@include grid-column;
		margin-bottom: rem-calc(15);
	}

	@include e(title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--large;
		line-height: 1.1;
		margin-bottom: rem-calc(30);
	}

	@include e(copy){
		width: 100%;
		max-width: 350px;
		margin-bottom: rem-calc(30);
		@include breakpoint(small only) {
			max-width: 100%;
		}
		span {
			margin-right: rem-calc(15);
		}
	}

	@include e(page-link){
		color: $black;
		border-bottom: 2px solid;
		transition: color .45s ease-out, border-bottom .45s ease-out;
		&:hover {
			color: $titleBlue;
			border-bottom: 2px solid $titleBlue;
		}
	}

	@include e(images){
		@extend .show-for-medium;
		.attachment-full {
			position: relative;
			z-index: 3;
		}
	}

	/*first tab admin*/
	@include m(about){
		position: relative;
		z-index: 1;
		@include e(content){
			@include breakpoint(medium) {
				margin-top: rem-calc(150);
			}
		}

		@include e(images){
			@extend .columns;
			@extend .medium-6;
			position: relative;
		}

		@include e(img-position){
			position: absolute;
			@include m(one){
				z-index: 9;
				top: 50%;
				left: rem-calc(-5);
			}
			@include m(two){
				z-index: 5;
				bottom: rem-calc(-60);
				left: rem-calc(-110);
			}
			@include m(three){
				z-index: 0;
				bottom: rem-calc(-275);
				left: rem-calc(30);
			}
		}
	}

	/*second tab, play admin*/
	@include m(play){
		position: relative;
		z-index: 0;

		@include e(content){
			@extend .medium-7;
			@include breakpoint(medium) {
				margin-top: rem-calc(75);
			}
		}

		@include e(copy){
			max-width: 400px;
		}

		@include e(images){
			@extend .medium-7;
			@extend .columns;
			position: relative;
			@include breakpoint(medium) {
				margin-top: rem-calc(150);
			}

			@include e(img-position){
				position: absolute;
				@include m(one){
					z-index: 9;
					bottom: rem-calc(-150);
					left: rem-calc(100);
				}
			}
			
		}
	}

	/*third tab, donate admin*/
	@include m(donate){
		margin-top: rem-calc(30);
		margin-bottom: rem-calc(200);
		@include breakpoint(medium) {
			margin-top: rem-calc(150);
		}

		@include e(copy){
			max-width: 400px;
		}

		@include e(images){
			@extend .medium-11;
			@extend .columns;
			position: relative;
			
			@include e(img-position){
				position: absolute;
				@include m(one){
					z-index: 9;
					top: rem-calc(-50);
					left: rem-calc(100);
				}
				@include m(two){
					z-index: 91;
					bottom: rem-calc(-50);
					right: 0;
				}
				@include m(three){
					z-index: 99;
					bottom: rem-calc(150);
					right: rem-calc(-75);
				}

				@include m(four){
					z-index: 991;
					bottom: rem-calc(-275);
					right: rem-calc(-175);
					max-width: 300px;
				}
			}
		}

		@include e(content){
			@extend .medium-7;
			@include breakpoint(medium) {
				margin-top: rem-calc(75);
			}
		}
	}


	/*fourth tab, testimonials*/
	@include m(testimonial){
		max-width: 60rem;
		position: relative;
		padding: 0 rem-calc(30);
		p {
			font-size: rem-calc(32);
			position: relative;
			z-index: 9;
		}
		img {
			position: absolute;
			top: rem-calc(-30);
			left: rem-calc(-5);
			z-index: 0;
		}
		@include e(name){
			text-align: right;
			> span {
				font-style: italic;;
			}
		}
	}
}