@include b(orbit-wrapper){
	background: $titleBlue;
	padding: rem-calc(100) 0;
	@include breakpoint(small only) {
		padding: rem-calc(50) 0;
	}
	ul {
		max-width: rem-calc(1200);
		margin: 0 auto;
		transition: height 0.45s ease-in-out, max-height 0.45s ease-in-out;
		height: auto !important;
	}
	p {
		color: $offWhite !important;
		@include breakpoint(small only) {
			display: none;
		}
	}

	@include e(button){
		opacity: 1;
	}

	@include e(slide){
		@extend .clearfix;
		max-height: 100% !important;
		
		@include breakpoint(medium) {
			padding: 0 rem-calc(100);
		}
	}

	.pfc__image-wrapper {
		@include breakpoint(small only) {
			display: none;
		}
	}

	.pfc__content {
		@include breakpoint(small only) {
			text-align: center;
		}
	}
	.pfc__misc {
		color: $offWhite !important;
	}	
}