@include b(instagram-list){
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	text-align: center;

	@include e(divs){
		display: inline-block;
		margin-left: -5px;
		@include breakpoint(small only) {
			display: none;
		}
		&:first-child{
			margin-left:0;
			@include breakpoint(small only) {
				display: block;
			}
		}
	}

	@include e(item){
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin-left: rem-calc(-6);
		&:first-child {
			margin-left:0;
		}
		img {
			max-height: 260px;
			position: relative;
			z-index: 0;
		}
		&:nth-child(3){
			@include breakpoint(small only) {
				clear: left;
			}
		}
		@include breakpoint(small only) {
			display: block;
			width: 50%;
			float: left;
			margin: 0;
		}
	}

	@include e(likes){
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: block;
		z-index: 1;
		&:hover {
			&:after {
				opacity: .75;
			}
			.wrap {
				opacity: 1;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			background: #F9ECDC;
			display: block;
			opacity: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 0;
			transition: opacity .45s ease-out;
		}
		.wrap {
			position: relative;
			z-index: 9;
			vertical-align: middle;
			opacity: 0;
			transition: opacity .45s ease-out;
		}
		.fa,span {
			display: inline-block;
			vertical-align: top;
			color: #222;
		}
		.fa {
			font-size: 25px;
			padding-top: 4px;
		}
		.count {
			
			/*color: #6D6F71;*/
			font-size: 25px;
			line-height: 1;
			margin-left: 10px;
		}
	}
	
}