@include b(main-intro){

	@include e(title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--x-large;
		line-height: 1.1;
		margin-bottom: rem-calc(75);
		@include breakpoint(small only) {
            margin-bottom: rem-calc(25); 
        } 
	}

	@include e(row){
		@include grid-row();
		max-width: rem-calc(1060);
		padding: 0 rem-calc(15) rem-calc(100);
		@include breakpoint(small only) {
            padding: rem-calc(50) rem-calc(15); 
        } 
	}

	@include m(purple){
		background: $titleBlue;
		@include e(title){
			color: $white;
		}

		@include e(description){
			@extend .font-style__basic-title;
			color: $white;
			max-width: 650px;
			position: relative;
			padding-top: rem-calc(100);
			@include breakpoint(small only) {
	            padding-top: rem-calc(30); 
	        } 
			&:before {
				background: $white;
				position: absolute;
				content: '';
				height: 2px;

				width: 100px;
				left: 0;
				top: 0;
				display: block;
			}
			p {
				@extend .font-style__basic-title;
				color: $white;
			}
		}
	}
}