@include b(posts-preview){
	@include grid-row();
	max-width: rem-calc(1030);
	margin-top: rem-calc(75);
	position: relative;

	@include e(article){
		margin-top: rem-calc(75);
		&:first-child {
			margin-top:0;
		}
	}

	@include e(image){
		@include grid-column(8);
		@include breakpoint(small only) { 
			@include grid-column(12);
		}
	}

	@include e(content){
		@include grid-column(4);
		@include breakpoint(small only) { 
			@include grid-column(12);
		}
	}

	@include e(title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--medium-large;
		padding-top: rem-calc(30);
		a {
			color: $black;
			&:hover {
				color: $titleBlue;
			}
		}
	}

	@include e(date){
		@extend .font-style__misc;
		display: block;
		margin-bottom: rem-calc(30);
	}

	@include e(read-more){
		color: $black;
		border-bottom: 1px solid $black;
		transition: color .45s ease-out, border-bottom .45s ease-out;
		&:hover {
			color: $titleBlue;
			border-bottom: 1px solid $titleBlue;
		}
	}

	@include e(image-con){
		@include m(double){
			img {
				float: left;
				max-width: 50%;
			}
		}
	}

	p {
		margin-bottom: rem-calc(30);
	}

}