@include b(pfc){
	@extend .clearfix;

	@include e(sub-title){
		@extend .font-style__basic-title;
		@extend .font-style__basic-title--plus;
		color: $black;
	}

	@include e(description){
		max-width: 635px;
		margin-bottom: rem-calc(50);
	}

	@include e(category-intro){
		padding: 0 rem-calc(15);
	}

	@include e(image){
		@include aspect-ratio(16,12);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	@include e(image-wrapper){
		@include grid-column(6);
		@include breakpoint(small only) { 
			@include grid-column(12);
		}
	}

	@include e(content){
		@include grid-column(6);
		
		@include breakpoint(medium) {
			padding-left: rem-calc(45);
		}
		@include breakpoint(small only) { 
			@include grid-column(12);
		}

		@include m(long-slide){
			width: 100%;
			text-align: center;
			padding: 0 rem-calc(15) !important;

			.copy-long {
				max-width: 600px;
				margin: 0 auto rem-calc(30);
				color: $white;
			}
		}

		@include m(event-preview){
			p {
				.post-preview__read-more {
					display: none;
				}
			}
		}
	}

	@include e(misc){
		@extend .font-style__misc;
		padding-bottom: rem-calc(15);
		display: block;

		@include m(bottom){
			margin-bottom: rem-calc(30);
			font-weight: 900;
		}
	}

	@include e(title){
		@extend .font-style__basic-title;
		@include m(plus){
			@extend .font-style__basic-title--plus;
		}
	}

	@include e(date){
		@extend .font-style__misc;
		@extend .font-style__misc--bold;
	}
	@include e(meta){
		margin-bottom: rem-calc(15);
		span {
			@extend .font-style__misc;
			display: block;
		}
	}

	@include e(row){
		@include grid-row;
	}

	@include e(featured-title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--x-large;
		line-height: 1.1;
		padding: 0 rem-calc(15);
		margin-bottom: rem-calc(75);
	}

	@include e(content-wrapper){
		@extend .clearfix;
		padding-bottom: rem-calc(100);
		
		@include m(lighter){
			.pfc__writer span,
			p,
			.pfc__content p {
				color: $offWhite !important;
			}
		}
	}

	@include e(writer){
		span {
			@extend .font-style__misc;
			color: $bodyP;
			margin-bottom: rem-calc(40);
			display: block;
		}
	}

	@include e(basic-intro){	
		@extend .font-style__misc;
		padding: 0 rem-calc(15) rem-calc(30);
		float: none;
		max-width: 75rem;
		display: block;
		margin: 0 auto;
		color: $bodyP;
		@include m(purple){
			color: $offWhite;
		}

	}

	@include m(purple){


		@include e(misc){
			color: $white;
		}

		@include e(title){
			color: $white;
		}

		@include e(date){
			color: $white;
		}

		@include e(meta){
			span {
				color: $white;
			}
		}

		@include e(featured-title){
			color: $white;
		}
	}

	@include m(bg){
		background: $titleBlue;
	}

	@include m(spacing-big){
		padding-top: rem-calc(100)
	}
	@include m(spacing){
		padding-top: rem-calc(25)
	}

	@include m(past-productions){
		padding-bottom: rem-calc(75);
		@include e(content){
			padding-left: rem-calc(15);
		}

		@include e(content-wrapper){
			@include grid-column(6, 0);
			padding-left: 0;
			padding-right: 0;
			padding-bottom: rem-calc(30);
			@include breakpoint(small only) {
				@include grid-column(12, 0);
			}
			&:nth-child(2n+1){
				clear: left;
			}
			&:last-child:not(:first-child){
				float: left
			}
		}

		@include e(writer){
			span {
				margin-bottom: rem-calc(15);
			}
		}

		p {
			@extend .font-style__misc;
			color: $bodyP;
		}
	}

	@include m(show-link){
		@include e(image){
			.hide {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: block !important;
			}
		}
	}
}