@font-face {
	font-family: 'NoeDisplay-Medium';
	src: url('../fonts/NoeDisplay-Medium.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/NoeDisplay-Medium.woff') format('woff'), 
		url('../fonts/NoeDisplay-Medium.ttf')  format('truetype'), 
		url('../fonts/NoeDisplay-Medium.svg#NoeDisplay-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'apercubold';
    src: url('../fonts/apercu-bold-webfont.eot');
    src: url('../fonts/apercu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-bold-webfont.woff2') format('woff2'),
         url('../fonts/apercu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aperculight';
    src: url('../fonts/apercu-light-webfont.eot');
    src: url('../fonts/apercu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-light-webfont.woff2') format('woff2'),
         url('../fonts/apercu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'optimanormal';
    src: url('../fonts/optima-webfont.eot');
    src: url('../fonts/optima-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/optima-webfont.woff2') format('woff2'),
         url('../fonts/optima-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'optimabold';
    src: url('../fonts/optima_b-webfont.eot');
    src: url('../fonts/optima_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/optima_b-webfont.woff2') format('woff2'),
         url('../fonts/optima_b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@include b(font-style){

	@include e(basic-copy){
		font-size: rem-calc(19);
		font-family: 'optimanormal';
		color: $bodyP;

		@include m(bold){
			font-family: 'optimabold'
		}
	}

	@include e(main-title){
		color: $titleBlue;
		font-size: rem-calc(48);
		font-family: 'NoeDisplay-Medium';
		@include m(large){
			font-size: rem-calc(90);
			@include breakpoint(small only) {
				font-size: rem-calc(35);
			}
		}

		@include m(x-large){
			font-size: rem-calc(115);
			@include breakpoint(small only) {
				font-size: rem-calc(50);
			}
		}

		@include m(medium-large){
			font-size: rem-calc(30);
		}

		@include m(medium){
			font-size: rem-calc(21);
		}
	}

	@include e(basic-title){
		color: $black;
		font-size: rem-calc(25);
		font-family: 'optimanormal';
		@include m(plus){
			font-size: rem-calc(35);
		}

		@include m(plus-bold){
			font-family: 'optimabold';
			font-size: rem-calc(35);
		}
	}

	@include e(misc){
		color: $black;
		font-family: 'aperculight';
		font-size: rem-calc(16);
		@include m(small){
			font-size: rem-calc(11);
		}

		@include m(bold){
			font-family: 'apercubold';
		}
	}

	@include e(footer-nav-link){
		color: $white;
		border-bottom: 1px solid transparent;
		font-size: rem-calc(20);
		font-family: 'optimanormal';
		display: inline-block;
		transition: border-bottom .45s ease-out;
		padding: rem-calc(10) 0 rem-calc(5);
		margin-bottom: rem-calc(5);
		&:hover {
			border-bottom: 1px solid $white;
		}
	}
}
