// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


$bodyP: #717171;
$mainFont: #6e6e6e;
$footerGray: #121724;
$titleBlue: #272765;
$pastelLightBlue: #9393b2;
$offWhite: #9394b1;
/*bg*/
$offGray: #f5f5f5; 
/*bg*/
$gray: #e7e8e9;
/*bg*/
$darkBlue: #131824;
/*bg*/
$blueGray: #2a2f3a;