/*latests posts*/
@include b(footer-posts){
	@extend .clearfix;
	background: url(../images/footerpattern.jpg) repeat-x bottom center $offGray;
	padding: rem-calc(100) 0 rem-calc(125);
	text-align: center;

	@include e(intro-title){
		@extend .font-style__main-title;
		margin-bottom: rem-calc(45);
	}

	@include e(post-container){
		@include grid-row;
	}

	@include e(post){
		@include grid-column(3);
		@include breakpoint(medium only) { 
			@include grid-column(6);
		}
		@include breakpoint(medium down) { 
			margin-bottom: rem-calc(30);
			&:nth-child(2n+1){
				clear:left;
			}
		}
		@include breakpoint(small only) { 
			@include grid-column(12);
		}
	}

	@include e(image){
		@extend .clearfix;
		@include m(double){
			img {
				float: left;
				width: 50%;
			}
		}
	}

	@include e(content){
		background: $gray;
	}

	@include e(title){
		@extend .font-style__basic-title;
		a {
			color: $black;
		}
	}

	@include e(spacing){
		padding: rem-calc(30);
	}

	@include e(date){
		@extend .font-style__misc;
		color: $mainFont;
		padding-top: rem-calc(30);
		display: block;
	}
}

/*footer bottom misc info*/
@include b(site-info){
	background: $darkBlue;
	padding: rem-calc(70) 0;
	overflow: hidden;
	@include e(row){
		@include grid-row();

		@include m(bottom){
			padding-top: rem-calc(50);
		}
	}

	@include e(block){
		@extend .columns;
		@include breakpoint(small only) {
			margin-top: rem-calc(30);
		}
		&:first-child{
			@include breakpoint(small only) {
				margin-top: 0;
			}
		}
		@include m(logo){
			@extend .medium-3;

		}
		@include m(nav){
			@extend .medium-5;
			@extend .medium-offset-1;
		}
		@include m(newsletter){
			@extend .medium-3;

		}
	}

	@include e(form-title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--medium;
		color: $white;
		@include breakpoint(medium) {
			margin-bottom: rem-calc(60);
		} 
	}

	@include e(social){
		margin: 0;
		li {
			list-style: none;
			display: inline-block;
			margin-left: rem-calc(25);
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			color: $white;
		}
	}
	@include e(support){
		@extend .columns;
		float: none;
	}
	@include e(support-title){
		@extend .font-style__misc;
		color: $mainFont;
		margin-bottom: rem-calc(30);
	}
	@include e(support-list){
		margin: 0;
		li {
			margin-bottom: rem-calc(7);
			list-style: none;
			display: block;
		}
		a {
			@extend .font-style__misc;
			color: $mainFont;
			padding-bottom: rem-calc(3);
			border-bottom: 1px solid;
			display: inline-block;
		}
	}

	.menu {
		li {
			display: block;
			width: 60%;
			float: left;
			&:nth-child(2n+1) {
				clear:left;
				width: 40%;
			}
		}
		a {
			@extend .font-style__footer-nav-link;
		}
	}
}

@include b(copy-right-by){
	background: $blueGray;
	padding: rem-calc(30) 0;

	@include e(row){
		@extend .row;
	}

	@include e(block){
		@include grid-column(6);
		&:last-child {
			@include breakpoint(medium) {
				text-align: right;
			}
		}
	}

	span,
	a {
		@extend .font-style__misc;
		color: $mainFont;
	}
}