.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}

.sticky-wrapper {
    &.is-sticky {
        img {
            max-width: 195px;
        }
        .header__nav-toggle-md-up {
            transform: translate(0px, -14px);
        }
    }
}


@include b(header){
    background: $white;

    @include e(top-bar){
        background: none;
        @include breakpoint(small only) {
            background: $white; 
        } 
        ul {
            @include breakpoint(medium) {
                background: none; 
            } 
        }
        img {
            transition: max-width .45s ease-out;
            width: 100%;
            max-width: 100%;
        }
    }

    @include e(sticky){
        background: $white;
        z-index: 9999 !important;

    }

    @include e(close-image){
        max-width: 25px !important;
    }

    @include e(title-bar){
        @include breakpoint(small only) {
            background: $white;
            text-align: right;
        } 
        .menu-icon {
            @include breakpoint(small only) {
                margin-top: 21px;
                height: 33px;
                width: auto;
            }
            &:after {
                background: $titleBlue;
                box-shadow: 0 7px 0 $titleBlue, 0 14px 0 $titleBlue;
                display: inline-block;
                width: 23px;
                vertical-align: middle;
                margin-top: -10px;
                position: relative;
            }
        }
        .title-bar-title {
            color: $titleBlue;
            @include breakpoint(small only) {
                
            }
        }

        img {
            @include breakpoint(small only) {
                max-width: 200px;
                float: left;
            }
        }
    }

    @include e(top-bar-right){
        @include breakpoint(medium) {
            display: none;
        }

        @include m(fixed){
            position: fixed;
            left: 0;
            top: 0;
            z-index: 99;
            height: 100%;
            width: 100% !important;
            background: #fff;
            ul {
                @include grid-row();
                padding: 0 rem-calc(15);
                margin: 0 auto !important;
            }
            li {
                display: block;
                margin-top: rem-calc(15)
                &:first-child {
                    margin-top: 0;
                }
                &.current-menu-item {
                    a {
                        border-bottom: 2px solid $titleBlue;
                    }
                }
            }
            a {
                @extend .font-style__main-title;
                display: inline-block !important;
                border-bottom: 2px solid transparent;
                transition: border-bottom .45s ease-out;
                padding-left: 0 !important;
                padding-right: 0 !important;
                font-size: rem-calc(30);
                &:hover {
                    border-bottom: 2px solid $titleBlue;
                }
            }
        }

        ul {
            @include breakpoint(small only) {
                background: none;
            }
        }
        li {
            @include breakpoint(small only) {
                display: block;
                padding: 0;
            }
            &.current-menu-item {
                a {
                    border-bottom: 2px solid $black;
                }
            }
            a {
                @include breakpoint(small only) {
                    color: $black;
                    display: inline-block;
                    padding: rem-calc(10) rem-calc(5);
                }
            }
        }
    }

    @include e(contact-us){
        @include grid-row();
        padding: 0 rem-calc(15);
        margin: 0 auto !important;
        display: none;

        h2 {
            @extend .font-style__main-title;
            @include breakpoint(medium) {
                font-size: rem-calc(30);
            }
        }

        #gform_wrapper_2 {
            @include breakpoint(medium) {
                margin-top: 0;
            }
        }

        #field_2_1 {
            @include breakpoint(medium) {
                float: left;
                width: 50%;
                
            }
        }
        #field_2_2 {
            @include breakpoint(medium) {
                float: left;
                width: 50%;
                padding-right: 0;
                clear: none;
            }
        }
        #field_2_3 {
            clear: left;
            padding-right: 0;
        }
        .gform_footer {
            @include breakpoint(medium) {
                margin-top: 0 !important;
            }

        }
    }

    @include e(contact-us-close){
        
        margin: 0 auto !important;
        text-align: right;
        @include breakpoint(medium) {
            padding-top: rem-calc(75);
        }
        @media screen and ( max-height: 800px ){
            padding-top: rem-calc(50);
        }
        span {
            color: $titleBlue;
            font-size: rem-calc(45);
            cursor: pointer;
            display: inline-block;
        }


    }

    @include e(top-bar-md-close){
        @extend .show-for-medium;
        @include grid-row();
        padding-top: rem-calc(75);
        margin: 0 auto !important;
        text-align: right;
        @media screen and ( max-height: 800px ){
            padding-top: rem-calc(50);
        }
        span {
            color: $titleBlue;
            font-size: rem-calc(45);
            cursor: pointer;
            display: inline-block;
        }
    }

    @include e(nav-toggle-md-up){
        @extend .show-for-medium;
        cursor: pointer;
        position: absolute;
        right: rem-calc(15);
        top: rem-calc(50);
        transform: translate(0, 0);
        transition: transform .45s ease-out;
        .menu-icon {
            &:after {
                background: $titleBlue;
                box-shadow: 0 7px 0 $titleBlue, 0 14px 0 $titleBlue;
            }
        }
        .title-bar-title {
            color: $titleBlue;
            padding-right: rem-calc(5);
        }

        @include m(purple){
            .menu-icon {
                &:after {
                    background: $white;
                    box-shadow: 0 7px 0 $white, 0 14px 0 $white;
                }
            }
            .title-bar-title {
                color: $white;
            }
        }
    }

    @include m(main){
        @include breakpoint(medium) {
            padding: rem-calc(50) 0 rem-calc(75);
        }

        @include breakpoint(small only) {
            margin-bottom: rem-calc(30);
        }

        @include e(inner-wrap){
            @include grid-row();
            max-width: rem-calc(1050);
            position: relative;
        }
    }

    @include m(purple){
        background: $titleBlue;
        @include e(sticky){
            background: $titleBlue;
        }
    }

    /*single post header*/
    @include m(post){


    }
}