#front-page-content {
	padding: rem-calc(100) 0 rem-calc(200);
	overflow: hidden;
}
#programming-page-content {
	.pfc {
		&:first-child {
			@include breakpoint(small only) {
	            padding-top: rem-calc(50); 
	        } 
		}
	}
}
.home {
	
	@include breakpoint(large) {
		height: auto !important;
	}
}
@include b(support-intro){
	@include grid-row();
	max-width: rem-calc(1000);
	padding-top: rem-calc(100);
	@include e(title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--x-large;
		color: $black;
		margin-bottom: rem-calc(75);
	}
}

@include b(donate-copy){

	@include grid-row();
	max-width: 64.25rem;
	padding: 0 0.9375rem 6.25rem;
	@include e(content){
		max-width: 600px;
		margin-bottom: rem-calc(75);
		h2 {
			@extend .font-style__basic-title;
			@extend .font-style__basic-title--plus;
			color: $black;
		}
	}

	@include e(form){
		max-width: 100%;
		p {
			&:last-of-type{
				@extend .responsive-embed;
				@extend .widescreen;
			}
		}
	}

}