#load-more-container {
	margin: rem-calc(100) 0 rem-calc(125);
}

@include b(singular-post){

	margin-top: rem-calc(75);

	@include e(intro){
		position: relative;
	}

	@include e(image){
		max-width: rem-calc(1000);
		margin: 0 auto rem-calc(100);
		text-align: center;
		position: relative;
		z-index: 0;
	}

	@include e(image-con){
		position: relative;
		z-index: 9;
		@include m(double){
			img {
				float: left;
				max-width: 50%;
			}
		}
	}

	@include e(nav){
		position: absolute;
		max-width: rem-calc(1300);
		width: 100%;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 50px;
		z-index: 9;
	}

	@include e(nav-next){
		float: left;
	}
	@include e(nav-previous){
		float: right;
	}
	@include e(nav-text-link){
		background: $white;
		padding: rem-calc(10);
	}

	@include e(pattern){
		position: absolute;
		z-index: 0;
		top: rem-calc(90);
		@include breakpoint(medium down) { 
			display: none;
		}
		@include m(left){
			left: rem-calc(-50);
		}
		@include m(right){
			right: rem-calc(-50);
		}
	}

	@include e(header){
		text-align: center;
		margin-bottom: rem-calc(60);
		.updated {
			@extend .font-style__misc;
		}
	}

	@include e(entry-title){
		@extend .font-style__main-title;
		@extend .font-style__main-title--medium-large;
		color: $black;
		max-width: 350px;
		margin: 0 auto rem-calc(5);
	}

	@include e(entry-content){
		@include grid-row();
		max-width: 660px;
		padding: 0 rem-calc(15);

		blockquote {
			border:none;
			p {
				@extend .font-style__basic-copy--bold;
				font-size: rem-calc(23);
				color: $black;
			}
		}
	}
}