@include b(production-section){

	/*featured image*/
	@include e(featured-image){
		text-align: center;
		margin-bottom: rem-calc(75);
		@include breakpoint(small only) { 
			padding: 0 rem-calc(15);
		}
	}

	@include e(title){
		@extend .font-style__main-title;

	}

	@include e(written-by){
		@extend .font-style__misc;
		display: block;
		margin-bottom: rem-calc(15);	
		@include breakpoint(small) { 
			// margin-bottom: rem-calc(50)
		}	
	}

	@include e(buy-now){
		margin-bottom: 30px;
	}

	#extra-misc {
		margin-top: 0;
		margin-bottom: 15px;
	}

	@include e(date){
		@extend .font-style__misc;
		@extend .font-style__misc--bold;
		color: $black;
		@include m(title){
			text-decoration: underline;
			margin-bottom: 10px;
		}
		@include m(space){
			margin-bottom: 30px;
		}
	}

	@include e(date-list){
		margin-left: 0;
		li {
			list-style: none;
			font-family: 'aperculight';
			font-weight: normal;
    font-style: normal;
		}
	}

	@include e(location){
		@extend .font-style__misc;
		color: $black;
	}

	@include e(venue-details){
		margin-bottom: rem-calc(45);
	}

	@include e(misc){
		margin: rem-calc(40) 0 0;
	}
	@include e(misc-item){
		@extend .font-style__misc;
		margin-bottom: rem-calc(5);
		list-style: none;
		span {
			@extend .font-style__misc--bold;
		}
	}

	@include e(basic-title){
		@extend .font-style__basic-title;
		@extend .font-style__basic-title--plus;
	}


	@include e(content-wrapper){
		@include grid-row();
		max-width: rem-calc(1030);
		margin-bottom: rem-calc(75);
	}

	@include e(review-list){
		margin: 0;
	}
	@include e(review-list-item){
		list-style: none;
		font-style: italic;
		margin-top: rem-calc(15);
		&:first-child {
			margin-top: 0;
		}
		span {
			@extend .font-style__basic-copy--bold;
		}
	}

	/*left column*/
	@include e(left){
		@include grid-column(4);
		@include breakpoint(small only) { 
			@include grid-column(12);
		}
	}

	/*right column*/
	@include e(right){
		@include grid-column(8);
		@include breakpoint(small only) { 
			@include grid-column(12);
		}
	}

	@include e(synopsis){
		margin-bottom: rem-calc(50);
		@include breakpoint(small only) { 
			padding-top: rem-calc(50);
		}
	}

	@include e(reviews){
		margin-bottom: rem-calc(50);
	}

	@include e(writer){
		margin-bottom: rem-calc(50);
	}

	@include e(slider){
		clear: both;
		width: 100%;
		padding-top: rem-calc(125);
		h2 {
			@extend .font-style__basic-title;
		@extend .font-style__basic-title--plus;
		text-align: center;
		margin-bottom: rem-calc(50);
		}
		.clearfix {
			> div {
				width: 50%;
				float: left;
			}
			.img-left {

			}
			.img-right {

			}
		}
		.owl-prev {
			background: url(../images/leftarrowblack.png) no-repeat #fff;
			left: 0;
		}
		.owl-next {
			background: url(../images/rightarrowblack.png) no-repeat #fff;
			right: 0;
		}

		.owl-nav {
			position: absolute;
			
			top: 50%;
			height: 26px;
			width: 100%;
				left: 0;
				@media only screen and (min-width: 1300px) {
					width: 120%;
			left: -10%;
				}
			@include breakpoint(xlarge) { 
				
			}
			> div {
				font-size: 0;
				height: 26px;
				width: 55px;
				position: absolute;
				background-position: center;
				top: 0;
			}
		}
	}
}